.thankyou{
  color:red;
}
.track{
  color:red;
  float:left;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 17px;
  width: 100px;
  margin: 2%;
  border-radius: 50px;
  background-color: white
}
.details{
  color: red;
  float:right;
  border: 2px solid white;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 17px;
  width: 100px;
  margin: 2%;
  border-radius: 50px;
  background-color: white;
}
h1{
  text-align:center;
  color: blue;
  background-color: black;
}
body{
  background-image:url(../image/triangle1.png);
}
@media screen and (max-width:768px) {
    .form {
        top: 60%;
        width: 80%;
